/* GLOBAL */
:root {
  --primary: #fafafa;
  --secondary: #e2e8f0;
  --tertiary: #94a3b8;
  --accent: #f43f5e;
  --bg-primary: #1e293b;
  --bg-secondary: #475569;
  --bg-tertiary: red;

  --font-sans: Poppins, system-ui, sans-serif;
  --font-serif: "Source Serif 4", serif;
  --header-height: 4rem;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--primary);

  .loader {
    position: fixed;
    top: calc(50vh - 1.5rem);
    left: calc(50vw - 1.5rem);
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #3498db;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: loader-spin 2s cubic-bezier(0.25, 0.75, 0.6, -1) infinite;
  }
}

body[loading] {
  main {
    opacity: 0;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  width: clamp(20rem, 90vw, 40rem);
}

a,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* BODY */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  nav {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 2rem;
    align-items: center;

    .logo {
      font-weight: bold;
    }

    ul {
      list-style: none;
      display: flex;
      font-size: 0.875rem;
      padding: 0;

      li {
        padding: 1rem 0.5rem;
        align-content: center;
      }

      a {
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid transparent;
        border-bottom-width: 0;

        &,
        &:visited {
          color: var(--primary);
        }

        &:hover,
        &:active {
          color: var(--accent);
          border-bottom: 2px solid var(--accent);
          border-bottom-width: 100%;
        }
      }
    }

    .burger {
      display: none;

      div {
        width: 1.5rem;
        height: 2px;
        margin: 6px;
        background-color: var(--primary);
        transition: all 0.3s ease-in-out;
      }
    }

    @media (max-width: 48rem) {
      ul {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        background: var(--bg-secondary);
        margin-top: var(--header-height);
        transition: all 0.2s ease-in-out;
        gap: 0;

        li {
          width: 100%;
          padding: 0;
        }

        a {
          padding: 0.75rem 0;
          margin: 0;
          top: 0;
          left: 0;
          text-align: center;
          display: block;
          border: none;

          &:hover,
          &:active {
            background-color: var(--bg-primary);
            border: none;
          }
        }

        &[active] {
          max-height: 400px;
        }
      }

      .burger {
        display: block;

        &[active] {
          div {
            &:nth-child(2) {
              opacity: 0;
            }

            &:first-child {
              transform: translate(0, 8px) rotate(45deg);
            }

            &:last-child {
              transform: translate(0, -8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  section {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 2rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url("../images/backgrounds/banner2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: clamp(2rem, 2.5vw, 4rem);
    padding: 0 0 1rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  a {
    color: var(--primary);
    margin: 2rem auto 0;
    padding: 0.5rem 1rem;
    background: var(--accent);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--bg-secondary);
    }
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background: var(--bg-secondary); */
  text-align: left;
  gap: 2rem; /* Add spacing between the image and the text */

  .wrapper {
    max-width: 50%;
    line-height: 1.5; /* Improve text readability */
    color: var(--primary); /* Add text color for better visibility */

    p {
      width: 100%;
      font-family: var(--font-serif);
      line-height: 1.75;
    }

    h3 {
      span {
        color: var(--accent);
      }
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-color: var(--accent);
      padding-bottom: 1rem;
    }

    h2 {
      padding-bottom: 1rem;
    }
  }

  img {
    max-width: 40%;
    object-fit: cover;
  }
}

.gallery {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;

    .carousel-image {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .indicator {
      width: 16px;
      height: 10px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      background-color: transparent;
      transition: all 0.3s ease;
      cursor: pointer;

      &.active {
        width: 24px;
        height: 12px;
        border-color: var(--primary);
        background-color: var(--bg-tertiary);
      }
    }
  }
}

.speakers {
  h2 {
    padding-bottom: 2rem;
  }

  .speaker-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .speaker-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 250px;
      gap: 1rem;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      .speaker-img {
        height: 200px;
        width: 200px;
        background-size: cover;
        border-radius: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          box-shadow: 0 2px 8px #ffffff;
        }
      }

      p {
        max-width: 250px;
      }
    }
  }
}

.countdown {
  background-color: var(--bg-secondary);
  padding: 6rem 1rem;
  h3 {
    padding-bottom: 2rem;
  }

  .subsection {
    h3 {
      font-size: 2rem;
      padding: 3rem 1rem 1rem;
    }
    p {
      text-align: center;
      width: 100%;
    }
    padding-bottom: 2rem;
  }

  & > a {
    background-color: var(--accent);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
  }
}

.venue {
  text-align: center;
  margin: 0 auto;
  .map {
    margin-top: 1rem;
    iframe {
      height: 50vh;
      width: 70vw;
    }
  }
}

/* Responsive Design */
@media (max-width: 48rem) {
  .carousel-indicators {
    .indicator {
      width: 14px;
      height: 8px;

      &.active {
        width: 20px;
        height: 10px;
      }
    }
  }

  .venue .map iframe {
    height: 50vh;
    width: calc(100% - 2rem);
  }
}

/* FOOTER */
footer {
  text-align: center;
  color: var(--primary);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #000;
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
